.grid-blocks {
  background-color: #a8dadc;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.block {
  background-color: #f1faee;
  padding: 30px;
  padding-top: 0px;
  margin: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.title {
  background-color: #e63946;
  text-align: center;
  padding: 15px;
  font-weight: 900;
  /* box-sizing: border-box; */
  width: auto;
  margin: 0 -30px;
}

.names {
  padding: 15px;
}
